html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.first {
  background-image: url('/photo-1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  height: 50rem;
  padding: 30px
}

.second {
  height: auto;
  background-color: white;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .second {
    height: auto;
    background-color: white;
    margin: 20px;
    flex-direction: column;
  }
  
}

.second img{
  height: auto; 
  width: 100%;
}

.paragraph h4 {
  padding: 15px;
  color:orange;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer {
  height: 5rem;
  background-color: orange;
}

.link {
  padding:10px;
}

.animal-section-1 {
  height: 100%;
  padding: 15px;
  background-color: rgba(255,255,255, .7);
  flex-wrap: wrap;
}

.animal-section-2 {
  height: 100%;
  padding: 15px;
  flex-wrap: wrap;
}

.animal-container {
  background-image: url('/animal-background.png');
  background-attachment: fixed;
  background-size: cover;
  padding:15px;
}

.card {
  margin: 15px;
  width: 18rem;
}